@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bg: #004E64;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

.dashboard {
  background: var(--bg);
  width: 100vw;
  height: 100vh;
  padding: 30px;
}

.note {
  background: white;
  max-width: 20vw;
  min-height: 200px;
  border-radius: 5px;
  padding: 10px;
}